@import "tailwindcss";

html {
    scroll-behavior: smooth;
}

body {
    /* background-image: url('../public/img/background.png'); */
    /* background-attachment: fixed; */
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
    /* background-position: left center; */
    min-height: 100vh;
}

@keyframes blink {
    0% { opacity: 1; }
    40% { opacity: 1; }
    60% { opacity: 0; }
    100% { opacity: 0; }
}

.input-cursor {
    display: inline-block;
    width: 2px;
    height: 42px;
    background-color: white;
    margin-left: 8px;
    animation: blink .6s linear infinite alternate;
}

